# Python
__pycache__/
*.pyc
*.pyo

# Local Secrets
*.env
*.key
*.pem
*.crt
secrets/

# Logs and temp
*.log
tmp/

# K8s YAML prod
**/infra/k8s/[Pp]rod/
**/infra/k8s-local/prod
*secret*.yaml

terraform/.terraform/

.vscode/

./auth_service/secret.json
